<%- include page/header2 %>
<meta http-equiv="refresh" content="600" />
<!--<%= JSON.stringify(user) %>-->
    <div v-if="alertMsg.length>0" class="alert alert-danger" role="alert">
	  <strong>{{alertMsg}}</strong>
	</div>
	<div class="BG-Average">
    	<div class="row">
			<div class="col-lg-3 col-md-3 col-xs-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-user fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">帳戶</div>
								<div class="index-number">
									<% if (users) { %>
										<%= users.length %>
									<% } %>
								</div>
							</div>
						</div>
					</div>
					<a href="http://localhost:8080/account">
						<div class="panel-footer">
							<span class="pull-left">View Details</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-xs-6">
				<div class="panel panel-green">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-clone fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">分區</div>
								<div class="index-number">
									<% if (zoneList) { %>
										<%= zoneList.length %>
									<% } %>
								</div>
							</div>
						</div>
					</div>
					<a href="http://localhost:8080/zone">
						<div class="panel-footer">
							<span class="pull-left">View Details</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-xs-6">
				<div class="panel panel-yellow">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-wifi fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">裝置</div>
								<div class="index-number">
									<% if (sensorList) { %>
										<%= sensorList.length %>
									<% } %>
								</div>
							</div>
						</div>
					</div>
					<a href="http://localhost:8080/device">
						<div class="panel-footer">
							<span class="pull-left">View Details</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-xs-6">
				<div class="panel panel-green">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-tags fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">類型</div>
								<div class="index-number">
									<% if (maps) { %>
										<%= maps.length %>
									<% } %>
								</div>
							</div>
						</div>
					</div>
					<a href="http://localhost:8080/map">
						<div class="panel-footer">
							<span class="pull-left">View Details</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
    </div>
    <div v-for="(zone, zoneId, index) in zoneObj" >
		<div class="block-title col-xs-12 col-md-12 col-lg-12">
			<span >
				{{ zoneName[zoneId] }} bar chart
			</span>
		</div>
		<!-- level 2 mac -->
		<!-- item : {name:device_name, field:device_fields}-->
		
		<div v-for="(item, mac, index1) in zoneObj[zoneId]"  class="col-xs-12 col-md-6 col-lg-6">
			<div  class="card-header2">
				{{ item.name }} <!--{{ fieldKey }}--> 
				<span class="float-right">
					
				</span>
			</div>
			
			<div  class="card-body2">
				<iframe :id="getBarId(mac)" :src="getBarChartUrl(mac)" style="width: 99%; height: 290px;overflow: hidden;" ></iframe>
			</div>
				
			
		</div>
			
	</div>
	<div>
	    
		<input id="sensorList" name="sensorList" type="hidden" value="<%= JSON.stringify(sensorList) %>">
		<input id="zoneList" name="zoneList" type="hidden" value="<%= JSON.stringify(zoneList) %>">
		<input id="profile" name="profile" type="hidden" value="<%= JSON.stringify(profile) %>">
		<input id="user" name="user" type="hidden" value="<%= JSON.stringify(user) %>">
		<input id="macDataObj" name="user" type="hidden" value="<%= JSON.stringify(macDataObj) %>">
		<input id="zoneObj" name="user" type="hidden" value="<%= JSON.stringify(zoneObj) %>">
		<input id="zoneName" name="user" type="hidden" value="<%= JSON.stringify(zoneName) %>">
		<input id="host_url" name="user" type="hidden" value="<%= host_url %>">
		
        
<%- include page/footer %>